@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Stylists</h1>

<ul class="lists">
  @foreach (Stylist stylist in Model)
  {
    <li>
      <h4>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</h4>
    </li>
  }

  <div class="navlinks">
    <p>@Html.ActionLink("Add new Stylist", "Create")</p>
    <p>@Html.ActionLink("Add new Client", "Create", "Clients")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>