@{
  Layout = "_Layout";
}

<h1>Claire's Hair Salon Stylist and Client Inventory</h1>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>  
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
