@{
  Layout = "_Layout";
}

<h2><em>Welcome!</em></h2></hrs>

<div class="navlinks-home">
  <p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
  <p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
</div>