@{
  Layout = "_Layout";
}

<h2>Welcome!</h2>

<div class="navlinks-home">
  <p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
  <p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
</div>